<% include partials/header %>

<section class="aboutpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="animate-wp-17">About Me</h1>
                <div class="headerunderline animate-wp-16"></div>
            </div>
        </div>
    </div>
    <div class="aboutintro">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-6">
                    <img src="stylesheets/profilephoto(resized)_v4.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 aboutintrotext animate-wp-7">
                    <p>
                        My name is Dylan Hedges and I specialise in creating modern, responsive websites and web apps using HTML, CSS, JavaScript, Node & React. 
                        My passion lies in Font-End development, I enjoy creating visual user interfaces and find excitement in turning ideas into interactive, clean, responsive websites & web apps. 
                    </p>
                    <p>
                        When I’m not coding I enjoy travelling, exercising and spending time with friends & family. If you choose me for your next project or to work for your organisation you will not get just a developer but someone who can communicate & work closely with you and your clients to bring your ideas to life and develop your perfect website or web app. 
                    </p>
                    <p>
                        I am open to new opportunities so if you feel you might have something of interest you can contact me directly via email or using the contact form on this site.
                        If you want to learn more about me, my experience or the type of projects I have worked on please visit the about, projects and blog pages.
                    </p>               
                </div>
            </div>
        </div>
    </div>
    <div class="aboutcontent greybackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 abouttext animate-wp-8">
                    <h5>BSc Information Technology - 1st Class Honours</h5>
                    <ul>
                        <li>Web Development (HTML/CSS)</li>
                        <li>Programming (Java)</li>
                        <li>Relational Databases (MySQL)</li>
                        <li>Networking and Security (Cisco)</li>
                        <li>Ethical Hacking and Countermeasures (VMWare, Linux Backtrack)</li>
                        <li>Business Processes and Requirements</li>
                        <li>System Design</li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-9">
                    <img src="stylesheets/uniimage_v4.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <div class="aboutcontent">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-10">
                    <img src="stylesheets/awsimage_v3.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext reducedwhitespace animate-wp-11">
                    <h5>AWS Certification - Solutions Architect Associate & Developer Associate</h5>
                    <ul>
                        <li>EC2, VPC, S3, EBS, Auto Scaling</li>
                        <li>IAM, Route 53, RDS, DynamoDB, SQS, SNS</li>
                        <li>Designing highly available cost-efficient fault-tolerant systems</li>
                        <li>Security, Debugging, Troubleshooting</li>
                        <li>License: Solutions Architect (AWS-ASA-29060)</li>
                        <li>License: Developer (AWS-ADEV-8644)</li>
                    </ul>
               </div>
            </div>
        </div>
    </div>
    <div class="aboutcontent greybackground">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext animate-wp-12">
                    <h5>PwC - Designer & Developer</h5>
                    <ul>
                        <li>Developed engaging web-based content used by PwC’s global workforce of over 100,000 people</li>
                        <li>Designed and developed interactive user interfaces (UIs) and responsive digital front ends</li>
                        <li>Created mockups, designed on-screen layouts and assisted in UI/UX design decision making</li>
                        <li>Created rich multimedia including audio, video and graphics</li>
                        <li>Coordinated the development of digital content, managed developers, met strict project deadlines</li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 animate-wp-13">
                    <img src="stylesheets/pwcimage_v3.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <div class="aboutcontent">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg- col-md-12 col-sm-12 col-12 animate-wp-14">
                    <img src="stylesheets/intelimage_v3.jpg" class="mx-auto d-block">
                </div>
                <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 abouttext animate-wp-15">
                    <h5>Intel - Network Engineer</h5>
                    <ul>
                        <li>Supported, updated and maintained the enterprise network infrastructure for Intel HQ</li>
                        <li>Collaborated with team members to troubleshoot complex network and telecom issues</li>
                        <li>Installed, configured and maintained Cisco enterprise network equipment</li>
                        <li>Provided technical support for end users, both in person and remotely</li>
                        <li>Presented technical network solutions to non-technical stakeholders and groups</li>
                    </ul>                    
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>