<!--Moved down due to adding white bar at top of page-->
<% include partials/header %>
<br />
<section class="blogpostindexpage">
  <div class="blogpostindexintro greybackground">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h2>Home page.</h2>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </div>
</section>

<% include partials/footer %>
