<!--BLOGPOST NEW-->

<% include ../partials/header %>

<section class="newblogpostpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>Create a new blogpost</h1>
            </div>
        </div>
        <form action="/blogposts" method="POST">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <input class="form-control" type="text" name="name" placeholder="Blogpost title">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <input class="form-control" type="text" name="image" placeholder="Image URL">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <textarea rows="10" col="50" class="form-control" type="text" name="description" placeholder="Enter blogpost"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 newblogpostbuttons">
                    <button class="btn btn-md btn-primary">Submit!</button>
                    <a class="btn btn-outline-primary btn-md" href="/blogposts">Back</a>
                </div>
            </div>
        </form>
    </div>
</section>

<% include ../partials/footer %>